html {
<html>
<head>
<body>
<style>
body {background-color: pink;}
title   {color: white;}
p    {color: red;}
title {
  color: blue;
  font-family: Malgun Gothic;
  font-size: 300%;

}
p  {
  color: red;
  font-family: courier new;
  font-size: 160%;
}

}